#line {
    background-color: rgba(179, 179, 179, 0.44);
}

#text {
    color: white;
}

#background {
    background-color: #404040;
}

#whiteSpace{
    color: #007f7f;
}

#pane{
    -fx-background-color: #565656;
}

