@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Medium.ttf');
}

.menuIcon:pressed {
    -fx-translate-y: 2px;
}

#menuBar {
    -fx-background-color: #757575;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #404040;
}

#fileList, #fileList .list-cell {
    -fx-background-color: transparent;
}

#fileList .list-cell:selected{
    -fx-border-width: 2px;
    -fx-border-color: #6d6d6d;
}

#fileList .list-cell:selected .text {

}

#fileList .list-cell .text {
    -fx-fill: white;
    -fx-font-family: "Quicksand";
}

#canvasInformationBar {

}

#secundaryMenu {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #0061ce;
    -fx-background-color: #5b5b5b;
}

#pane, #settingsPane {
    -fx-background-color: #565656;
}

.label{
	-fx-text-fill: white;
	-fx-font-size: 15px;
    -fx-font-family: "Quicksand";
}

.menu-item{
    -fx-background-color: #565656;
}

.menu-item:hover{
    -fx-background-color: #939393;
}

#fileRightClick{
	-fx-background-color: #fff; 
}

#fileRightClick .label{
	-fx-text-fill: black;
}

.propLine:hover{
	-fx-background-color: #939393;
}

.fileTabItem{
	-fx-background-color: #0061ce;
}

.closeTab:hover{
    -fx-text-fill: #ff383f;
}

.scrollBar{
    -fx-fill: #8d8d8d;
}

#fileName{
    -fx-background-radius: 2px;
}

#cancel, #rename, #save, #saveAs, #dontSave, #createFile{
    -fx-background-color: #fff;
}

.defaultButton{
    -fx-background-color: #fff;
}

#settingsList, #settingsList .list-cell{
    -fx-background-color: transparent;
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: #000;
}

.settingsTopBox{
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #000;
}

.settingsBottomBox{
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: #000;
}